{% extends "base.html" %}

{%block title%}Settings{%endblock%}

{%block content %}

<div align="center" style="padding-top: 10px;">
Reset Password
</div>
<form method = "POST" action="/settings/changePassword">
    <br>
    
        <input
        type = "password" class="form-control" id="password" name="password" placeholder="Enter New Password Here"/>
    <br>
    <div align="center">
    <button type = "submit" class="btn btn-primary">Change Password</button>
    </div>
    </form>

    <form method = "POST" action="/settings/resetAccount">
        <br>
        <br>
        <br>
        <br>
          
        <div align="center">
        Reset account so that all logs are erased
        <br>
        <br>
        <button type = "submit" class="btn btn-primary">Reset Account</button>
        </div>
        </form>



{%endblock%}